body {
    background-color: antiquewhite;
}

ul {
    text-align: center;
    list-style-type: none;
    
}

.baslik {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: chocolate;
}

ol {
    font-family: fantasy;
    list-style: none;
}

h1 {
    background-color: black;
}
h2 {
    color: rgb(105, 99, 108);
    text-align: center;
}
h3 {
    text-align: center;
}
h4 {
    text-align: center;
    background-color: aqua;
}
h6 {
    color: hotpink;
}
.gmg {
    font-style: italic;
    color: rgb(84, 147, 99);
}
.aracrenkleri {
    color: rgb(37, 55, 141);
}
.text {
    text-align: center;

}
.satinalim {
    background-color: rgb(106, 49, 22);
}

.iletisim {
    text-align: center;
}

.menu {
    display: inline;
}
.baslik2 {
    color: darkviolet;
    font-family: cursive;
}
.hak {
    font-size: 16px;
    background-color: none;
}
